<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.neuedu.entity"/>
    </typeAliases>

    <!--配置数据源，数据库连接信息，支持配置多个数据源-->
    <environments default="development">
        <!--数据库连接信息-->
        <environment id="development">
            <!-- 配置事务管理模式，让mybatis采用jdbc的管理模式 -->
            <transactionManager type="JDBC"/>
            <!-- 配置连接池，配置数据库连接信息，type属性指明用哪个连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/emp?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.neuedu.mapper"/>
    </mappers>

</configuration>