<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 给一个命名空间 -->
<mapper namespace="com.neuedu.mapper.DeptMapper">

    <resultMap id="deptMap" type="Dept">
        <id column="dept_id" property="deptId"/>
        <result column="dname" property="dname"/>
        <result column="location" property="location"/>
    </resultMap>

    <select id="deptList" resultMap="deptMap">
        select dept_id,dname,location from t_dept
    </select>

</mapper>